<ion-view title="Current Location">
    <ion-content ng-controller="MapCurrentController">
        
         <div class="list">
          <div class="item barcolor barh" >
            <button class="button button-small" id="searchbut" ng-click="geocodeAddress()">
              Refresh
            </button>
            <button class="button button-small" id="searchbut" ng-click="myGoBack()">
              Back
            </button>

          </div>
        </div>

        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>


<!--
<ion-view title="Current Location" ng-controller="MapCurrentController">
    
        <ion-header-bar class="bar-stable" style="background-color:#333;color:white;">
      
            <button class="button button-positive" style="background-color:#A90C0C;" ng-click="geocodeAddress()">
              Refresh
            </button>
      
        </ion-header-bar>
<ion-content >
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>-->
