<ion-view title="Home">
    <ion-content>
        <div class="image"></div><br>
        <div class="textbox"><p><b>CPSTL Smart Mapping</b></p> 
        </div>
        <br>
       
        <div class="row responsive-lg">
        <div class="col">
         <button class="button button-large button-positive"  style="width:100%;" ng-click="currentview()"> 
        Stations Around You
        </button>
        </div>
        </div>
        
        <div class="row responsive-lg">
        <div class="col">
        <button class="button button-large button-positive"  style="width:100%;" ng-click="searchview()">
        Search Stations
        </button>
        </div>
        </div>
      
      </div>
    </ion-content>
</ion-view>



<!--
<ion-view title="Home">
    <ion-content>
        <div class="image"></div><br>
        <div class="textbox"><p><b>CPSTL Smart Mapping</b></p> 
        </div>
        <br><br><br><br>

         <button class="button button-large button-positive "  ng-click="currentview()"> 
        Stations Around You
        </button>
        <button class="button button-full button-dark" ng-click="searchview()">
        Search Stations
        </button>
      
      </div>
    </ion-content>
</ion-view>-->