.image {
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    margin-top:50px;
    position: relative;
}

.pane { 
        /*background: url('../img/black.jpg'); */
        background-size: 100% 100% !important;
        /*background-position: center center;*/
        background-repeat: no-repeat;
        background-attachment: fixed;
    }


.bar {
   
    font-size: 30px;
    text-align: center;
    /*margin-top: 20px;*/
   


    
}

.button{
   background-color:#A90C0C!important;
    font-family: arial;
    text-align: center;
    color:white;

}

.textbox{

    font-size: 30px;
    /*color: white;*/
    text-align: center;
    font-family: arial;
}
.barcolor{
    background-color:#333;
}
.barh{
    padding:10px;
}
.proditem{
    //border-bottom-color:#990000;
    /*background-color:#333; */
 
    //border-bottom-width: 5px;
}
#searchbut{
    background-color:#A90C0C;
    color:white;
}

.title{
    font-size: 20px;
    text-align: center;
    /*margin-top: 20px;*/
}